*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 54px;
    text-transform: uppercase;
}

.container {
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#gameboard {
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

/* .cell {
    font-size: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100px;
    width: 100px;
    border: 1px solid black;
} */

.cell {
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    border: 1px solid black;
}

button {
    text-transform: uppercase;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid black;
    font-size: 20px;
    transition: 200ms transform;
    font-weight: 600;
}

button:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: rgba(0, 128, 0, 0.656);
    border: 1px solid white;
}